<h1>書籍更新フォーム</h1>
<%= form_with model: @book, local: true do |form| %>
  <p>
    書籍名<br>
    <%= form.text_field :name %>
  </p>
  <p>
    価格：<br>
    <%= form.number_field :price %>
  </p>
  <p>
    出版社<br>
    <%= form.text_field :publish %>
  </p>
  <p>
    刊行日	：<br>
    <%= form.date_field :publish_date %>
  </p>
  <%= form.submit "更新" %>
<% end %>
